body{
	margin: 0px;
	padding: 0px;
	background-image: url(bg3.jpg);
	
}

#banner{
	position: relative;
	padding-left: 20px;
	background-image: url("bg7.jpg");
	background-size: 100% 100%;
	border-radius: 20px 20px 20px 20px;
	margin: 5px 5px 50px 5px;

}

h1{
	font-size: 2.6em;
	-webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: white;
}

h1:first-letter{
	font-size: 2.4em;
	color: red;
}

#calc{
	margin-right: auto;
	margin-left: auto;
	background-image: url('bg8.jpg');
	max-width: 300px;
	border-radius: 30px;
	border-style: groove;
	border-width: 5px;
	
}
#calc:after{
	content: "";
    clear: both;
    display: block;
}
#display{
	margin: 10px auto 10px auto;
	max-width: 250px;
	min-height: 30px;
	background-color: hsl(180, 90%, 60%);
	border: 3px solid black;
	overflow: auto;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.6em;

}
input{
	
	height: 30px;
	width: 245px;
	text-align: right;
}

.key{
	margin: 5px;
	width: 63px;
	float: left;
	text-align: center;
	display:inline-block;
    cursor:pointer;
    vertical-align:middle;
    line-height: 2em;
    font-weight: bold;
    box-shadow: 0px 10px 15px #000;
}

.key:active{
	position: relative;
	top: 2px;
	box-shadow: none;
}

.numb{
	background-color: rgb(115, 220, 33);
}

.operators{
	background-color: hsl(350,100%,80%);
}

#equalKey{
	background-color: #33b5e5;
}
#equalKey:hover{
	-ms-transform: rotate(15deg) scale(1.4, 1.4); /* IE 9 */
    -webkit-transform: rotate(15deg) scale(1.4, 1.4); /* Safari */
    transform: rotate(15deg) scale(1.4, 1.4);

}


